<section class="s-block home-slider s-block--hero-slider s-block--full-bg wide-placeholder">
	<salla-slider id="main-slider-{{ position }}" class="home-slider main-slider" auto-play loop type="fullwidth">
		<div slot="items">
			{% for slide in component.collection %}
				<div class="swiper-lazy-wrap w-full min-h-[300px] lg:min-h-[528px] " style="background-color: {{component.color_bg}};">
					<div data-background="{{ component.img_bg }}" class="swiper-lazy"></div>
					<div class="flex-center container pb-16 sm:pb-0 home-slider__content relative h-full">
						<div class="new-slide w-4/6 text-center md:w-7/12 lg:w-5/12 text-white ">
							<div class="bannar-first-img ">
								<img class="scale-up-ver-bottom" src={{ slide.second_img }} alt="">
							</div>
							<div class="middel-text ">
								<h3>{{ slide.bannar_title }}</h3>
								<p>{{ slide.bannar_des }}</p>
								<a class="slide-lnk" href="{{slide.btn_lnk}}">
										{{slide.btn_text}}
								</a>
							</div>
							<div class="bannar-second-img ">
								<img style="margin: auto; margin-left: 0;margin-bottom:0;" class="scale-up-ver-bottom" src={{ slide.first_img }} alt="">
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</salla-slider>
</section>
