{% if component.bannar_slider %}
<section class="s-block home-slider s-block--hero-slider s-block--full-bg wide-placeholder">
	<salla-slider id="main-slider-{{ position }}" class="home-slider main-slider" auto-play loop type="fullwidth">
		<div slot="items">
			{% for slide in component.collection %}
			<style>
			 .slide-lnk{
			 }
			</style>
				<div class="swiper-lazy-wrap w-full min-h-[300px] lg:min-h-[528px] " style="background-color: {{component.color_bg}};">
					<div data-background="{{ component.img_bg }}" class="swiper-lazy"></div>
					<div class="flex-center container pb-16 sm:pb-0 home-slider__content relative h-full">
						<div class="new-slide w-4/6 text-center md:w-7/12 lg:w-5/12 text-white ">
							<div class="bannar-first-img ">
								<img class="scale-up-ver-bottom" src={{ slide.second_img }} alt="">
							</div>
							<div class="middel-text ">
								<h3>{{ slide.bannar_title }}</h3>
								<p>{{ slide.bannar_des }}</p>
								<a class="slide-lnk" href="{{slide.btn_lnk}}" style="color:{{ component.btn_color }};background-image:url('data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='124.1759 49.552 276.5527 157.9205' width='276.553' height='157.921'%3E%3Cg transform='matrix(0.6186160445213318, 0, 0, 0.7100229859352112, 93.39574571543551, -52.28087693871373)' style=''%3E%3Cg transform='matrix(1, 0, 0, 1, 7.024256, 38.952736)'%3E%3Cg%3E%3Cpath d='M 42.809 166.588 C 41.76 156.843 51.637 148.895 62.042 150.608 C 98.957 156.679 176.279 163.62 235.147 129.775 C 314.648 84.065 400.203 114.238 459.529 114.239 C 510.507 114.239 483.553 271.536 474.961 315.79 C 473.662 322.477 467.275 327.093 459.944 326.878 L 71.974 315.582 C 64.437 315.363 58.245 310.001 57.496 303.046 L 42.809 166.588 Z' fill='%23{{ component.btn_bg }}' style=''%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E')">
										{{slide.btn_text}}
								</a>
							</div>
							<div class="bannar-second-img ">
								<img style="margin: auto; margin-left: 0;margin-bottom:0;" class="scale-up-ver-bottom" src={{ slide.first_img }} alt="">
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</salla-slider>
</section>
{% else %}
<section class="s-block s-block--features container" >
		<div class="grid lg:grid-cols-{{component.collection|length}} md:grid-cols-{{component.collection|length}} gap-4 sm:gap-6 xl:gap-8">
			{% for slide in component.collection %}
				<div class="swiper-lazy-wrap w-full min-h-[300px] lg:min-h-[528px] " style="background-color: {{component.color_bg}};">
					<div data-background="{{ component.img_bg }}" class="swiper-lazy"></div>
					<div class="flex-center container pb-16 sm:pb-0 home-slider__content relative h-full">
						<div class="new-slide w-4/6 text-center md:w-7/12 lg:w-5/12 text-white ">
							<div class="bannar-first-img ">
								<img class="scale-up-ver-bottom" src={{ slide.second_img }} alt="">
							</div>
							<div class="middel-text ">
								<h3>{{ slide.bannar_title }}</h3>
								<p>{{ slide.bannar_des }}</p>
								<a class="slide-lnk" href="{{slide.btn_lnk}}" style="">
										{{slide.btn_text}}
								</a>
							</div>
							<div class="bannar-second-img ">
								<img style="margin: auto; margin-left: 0;margin-bottom:0;" class="scale-up-ver-bottom" src={{ slide.first_img }} alt="">
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endif %}
	

				{# <script>
   const svg = 
document.querySelectorAll('.slide-lnk')[0].style=`background-image:'data:image/svg+xml;charset=utf-8,'+${svg};color:{{ component.btn_color }}`;
</script> #}