{% set bg_color = '"'~ component.btn_bg ~'"' %}
{% set svg = "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='142.0329 136.3475 254.2484 65.4277' width='254.248' height='65.428' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cfilter id='filter0_d_1_3549' x='0.611816' y='0.794922' width='485.308' height='306.705' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='42'/%3E%3CfeGaussianBlur stdDeviation='60'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 0.816667 0 0 0 0 0.816667 0 0 0 0.15 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1_3549'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1_3549' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23filter0_d_1_3549)' transform='matrix(1.0364439487457275, 0, 0, 0.9808540344238281, 17.025656000162, 59.060910151316364)' style=''%3E%3Cpath d='M365.908 91.3285C366.224 84.2067 360.299 78.381 353.183 78.8183L131.89 92.4162C123.106 92.9559 117.872 102.453 122.106 110.168L138.083 139.274C140.19 143.114 144.222 145.5 148.602 145.5H352.021C358.442 145.5 363.725 140.447 364.01 134.033L365.908 91.3285Z' fill='%23"~ component.btn_bg|replace({"#":""}) ~ "'/%3E%3C/g%3E%3C/svg%3E" %}
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
{% if component.bannar_slider %}

<section class="s-block home-slider s-block--hero-slider s-block--full-bg wide-placeholder">
	<salla-slider id="main-slider-{{ position }}" class="home-slider main-slider" auto-play loop type="fullwidth">
		<div slot="items">
			{% for slide in component.collection %}
			<style>
			 .slide-lnk{
			 }
			</style>
				<div class="swiper-lazy-wrap w-full min-h-[300px] lg:min-h-[528px] " style="background-color: {{component.color_bg}};">
					<div data-background="{{ component.img_bg }}" class="swiper-lazy"></div>
					<div class="flex-center container pb-16 sm:pb-0 home-slider__content relative h-full">
						<div class="new-slide w-4/6 text-center md:w-7/12 lg:w-5/12 text-white ">
							<div class="bannar-first-img ">
								<img class="scale-up-ver-bottom" src={{ slide.second_img }} alt="">
							</div>
							<div class="middel-text ">
								<h3 class="slide-title">{{ slide.bannar_title }}</h3>
								<p class="slide-title">{{ slide.bannar_des }}</p>
								<a class="slide-lnk animate__bounceInUp" href="{{slide.btn_lnk}}" style='color:{{ component.btn_color }};background-image: url("{{ svg }}")'>
										{{slide.btn_text}}
								</a>

							</div>
							<div class="bannar-second-img ">
								<img style="margin: auto; margin-left: 0;margin-bottom:0;" class="scale-up-ver-bottom" src={{ slide.first_img }} alt="">
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</salla-slider>
</section>
{% else %}
<section class="s-block s-block--features container" >
		<div class="grid lg:grid-cols-{{component.collection|length}} md:grid-cols-{{component.collection|length}} gap-4 sm:gap-6 xl:gap-8">
			{% for slide in component.collection %}
				<div class="swiper-lazy-wrap w-full min-h-[300px] lg:min-h-[528px] " style="background-color: {{component.color_bg}};">
					<div data-background="{{ component.img_bg }}" class="swiper-lazy"></div>
					<div class="flex-center container pb-16 sm:pb-0 home-slider__content relative h-full">
						<div class="new-slide w-4/6 text-center md:w-7/12 lg:w-5/12 text-white ">
							<div class="bannar-first-img ">
								<img class="scale-up-ver-bottom" src={{ slide.second_img }} alt="">
							</div>
							<div class="middel-text ">
								<h3>{{ slide.bannar_title }}</h3>
								<p>{{ slide.bannar_des }}</p>
								<a class="slide-lnk anime-item" href="{{slide.btn_lnk}}" style='color:{{ component.btn_color }};background-image: url("{{ svg }}")'>
										{{slide.btn_text}}
								</a>
							</div>
							<div class="bannar-second-img ">
								<img style="margin: auto; margin-left: 0;margin-bottom:0;" class="scale-up-ver-bottom" src={{ slide.first_img }} alt="">
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endif %}

	<script src="https://unpkg.com/gsap@3.11.4/dist/gsap.js"></script>

<script type="module">
  import splitType from 'https://unpkg.com/split-type@0.3.3/lib/SplitType.js';
  setTimeout(()=>{
const ourText2 = new splitType('.slide-title', { types: 'word' });
  console.log("fffffffff",ourText2)
    const chars = ourText2.words;
    gsap.fromTo(
      chars,
      { 
        y: 100,
        opacity: 0
      },
      {
        y: 0,
        opacity: 1,
        stagger: 0.05,
        duration: 2,
        ease: 'power4.out',
      }
    )},1000)
</script>