{% set bg_color = '"'~ component.btn_bg ~'"' %}
{% set svg = "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='151.2822 94.7499 248.8054 74.1989' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cfilter id='filter0_d_1_2893' x='0.395996' y='8.7002' width='485.308' height='306.705' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='42'/%3E%3CfeGaussianBlur stdDeviation='60'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 0.816667 0 0 0 0 0.816667 0 0 0 0.15 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1_2893'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1_2893' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_d_1_2893' x='4.39453' y='0.706055' width='485.308' height='306.705' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='42'/%3E%3CfeGaussianBlur stdDeviation='60'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 1 0 0 0 0 0.816667 0 0 0 0 0.816667 0 0 0 0.15 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1_2893'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1_2893' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23filter0_d_1_2893)' transform='matrix(1, 0, 0, 1, 30.38551139831543, 16.04378318786621)'%3E%3Cpath d='M365.192 99.2113C365.496 92.3863 359.817 86.8034 352.998 87.2224L131.705 100.82C123.287 101.338 118.271 110.439 122.329 117.832L138.305 146.938C140.325 150.618 144.189 152.905 148.386 152.905H351.806C357.958 152.905 363.021 148.062 363.294 141.916L365.192 99.2113Z' stroke='%23"~ component.btn_bg|replace({"#":""}) ~"' fill='%23fff0' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cg filter='url(%23filter1_d_1_2893)' transform='matrix(1, 0, 0, 1, 30.38551139831543, 16.04378318786621)'%3E%3Cpath d='M369.69 91.2394C370.007 84.1176 364.082 78.2919 356.966 78.7292L135.673 92.3271C126.889 92.8668 121.655 102.364 125.889 110.079L141.865 139.185C143.973 143.025 148.005 145.411 152.385 145.411H355.804C362.224 145.411 367.507 140.358 367.792 133.944L369.69 91.2394Z' fill='%23"~ component.btn_bg|replace({"#":""}) ~"'/%3E%3C/g%3E%3C/svg%3E" %}
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
{% if component.bannar_slider %}

<section class="s-block home-slider s-block--hero-slider s-block--full-bg wide-placeholder">
	<salla-slider id="main-slider-{{ position }}" class="home-slider main-slider" auto-play loop type="fullwidth">
		<div slot="items">
			{% for slide in component.collection %}
			<style>
			 .slide-lnk{
			 }
			</style>
				<div class="swiper-lazy-wrap w-full min-h-[300px] lg:min-h-[528px] " style="background-color: {{component.color_bg}};">
					<div data-background="{{ component.img_bg }}" class="swiper-lazy"></div>
					<div class="flex-center container pb-16 sm:pb-0 home-slider__content relative h-full">
						<div class="new-slide w-4/6 text-center md:w-7/12 lg:w-5/12 text-white ">
							<div class="bannar-first-img ">
								<img class="scale-up-ver-bottom" src={{ slide.second_img }} alt="">
							</div>
							<div class="middel-text ">
								<h3 class="slide-title">{{ slide.bannar_title }}</h3>
								<p class="slide-title">{{ slide.bannar_des }}</p>
								<a class="slide-lnk animate__bounceInUp" href="{{slide.btn_lnk}}" style='color:{{ component.btn_color }};background-image: url("{{ svg }}")'>
										{{slide.btn_text}}
								</a>

							</div>
							<div class="bannar-second-img ">
								<img style="margin: auto; margin-left: 0;margin-bottom:0;" class="scale-up-ver-bottom" src={{ slide.first_img }} alt="">
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</salla-slider>
</section>
{% else %}
<section class="s-block s-block--features container {{ component.collection|length == 1 ? "oneElement" : "" }} " >
		<div class="grid lg:grid-cols-{{component.collection|length}} md:grid-cols-{{component.collection|length}} gap-4 sm:gap-6 xl:gap-8">
			{% for slide in component.collection %}
				<div class="swiper-lazy-wrap w-full min-h-[300px] lg:min-h-[528px] " style="background-color: {{component.color_bg}};">
					<div data-background="{{ component.img_bg }}" class="swiper-lazy"></div>
					<div class="flex-center container pb-16 sm:pb-0 home-slider__content relative h-full">
						<div class="new-slide w-4/6 text-center md:w-7/12 lg:w-5/12 text-white ">
							<div style="width: 700px;" class="bannar-first-img ">
								<img class="scale-up-ver-bottom" src={{ slide.second_img }} alt="">
							</div>
							<div class="middel-text ">
								<h3>{{ slide.bannar_title }}</h3>
								<p>{{ slide.bannar_des }}</p>
								<a class="slide-lnk anime-item" href="{{slide.btn_lnk}}" style='color:{{ component.btn_color }};background-image: url("{{ svg }}")'>
										{{slide.btn_text}}
								</a>
							</div>
							<div class="bannar-second-img ">
								<img style="margin: auto; margin-left: 0;margin-bottom:0;" class="scale-up-ver-bottom" src={{ slide.first_img }} alt="">
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endif %}

	<script src="https://unpkg.com/gsap@3.11.4/dist/gsap.js"></script>

<script type="module">
  import splitType from 'https://unpkg.com/split-type@0.3.3/lib/SplitType.js';
  setTimeout(()=>{
const ourText2 = new splitType('.slide-title', { types: 'word' });
  console.log("fffffffff",ourText2)
    const chars = ourText2.words;
    gsap.fromTo(
      chars,
      { 
        y: 100,
        opacity: 0
      },
      {
        y: 0,
        opacity: 1,
        stagger: 0.05,
        duration: 2,
        ease: 'power4.out',
      }
    )},1000)
</script>