	<section class="slider-section" dir="ltr">
		<div class="container">
			<div class="middle-slider">
				<div class="slideer" >
					{% for cate in component.links %}
						<div class="s-block--features__item" >
							<a href="{{ cate.url }}">
							<div class="feature-icon">
                            <img src="{{ cate.image }}"/>
							</div>
							<div>
							   <h2>{{ cate.string }}</h2>
							</div>
							</a>
							
						</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</section>
<section class="category-slider">
   <div class="container">
		<salla-slider id="thumbs" loop="true" auto-play="true" show-controls="true" controls-outer="true" type="carousel">
			<div slot="items">
			{% for cate in component.links %}
						<div class="s-block--features__item" >
							<a href="{{ cate.url }}">
							<div class="feature-icon">
                            <img src="{{ cate.image }}"/>
							</div>
							<div>
							   <h2 class="text-center">{{ cate.string }}</h2>
							</div>
							</a>
							
						</div>
					{% endfor %}
			</div>
		</salla-slider>
		</div>
</section>
<style>

	.feature-icon {
		margin: auto;
	}


	.slideer {
		margin: 32px auto;
	}
	.slider-section .slick-slide {
		padding: 24px 0;
		border-radius: 10px;
		text-align: center;
		font-size: 2rem;
		font-weight: 600;
		color: #b83b5e;
	}

	.bottom-slider .slick-slide {
		margin-block: 0.5rem;
		font-size: 1.75rem;
		font-weight: 500;
	}
	.slick-slide {
		margin: 0 12px;
	}
	.slick-dots li button:before {
		transition: all 0.3s ease;
	}
	.slick-dots li.slick-active button:before,
	.slick-dots li button:hover::before,
	.slick-dots li button:focus::before {
		color: #f08a5d;
		opacity: 1;
	}
	.slick-next,
	.slick-prev {
		width: fit-content;
		height: auto;
	}
	.slick-next:before,
	.slick-prev:before {
		font-size: 2.5rem;
		opacity: 0.5;
		color: #f08a5d;
	}
	.slick-next {
		right: -40px;
	}
	.slick-prev {
		left: -40px;
	}
	@media(max-width: 767px) {

		.slick-next {
			right: 0;
		}
		.slick-prev {
			left: 0;
		}
	}
</style>
<script>
	$(".middle-slider .slideer").slick({
  dots: false,
  arrows: true,
  loop: true,
  autoplaySpeed: 3000,
  slidesToShow: '{{component.links|length}}'-1,
  slidesToScroll: 1,
  autoplay:true,


});
</script>
