{% if component.features_view %}
	<section class="feature-slider">
		<salla-slider id="thumbs" loop="true" auto-play="true" show-controls="false" type="carousel">

			<div slot="items">
				{% for feature in component.features_lnks %}
					<div class="w-30 s-block--features__item">
						<div class="feature-icon">
							<i class="{{feature.feature_icon}}"></i>
						</div>
						<h4 class="text-center ">{{feature.feature_title}}</h4>
						<p>{{feature.feature_des}}</p>
					</div>
				{% endfor %}
			</div>
		</salla-slider>
	</section>
{% else %}
	<section class="s-block s-block--features container">
		<div class="grid lg:grid-cols-4 md:grid-cols-2 gap-4 sm:gap-6 xl:gap-8">
			{% for feature in component.features_lnks %}
				<div class="s-block--features__item">
					<div class="feature-icon">
						<i class="{{feature.feature_icon}}"></i>
					</div>
					<h4>{{feature.feature_title}}</h4>
					<p>{{feature.feature_des}}</p>
				</div>
			{% endfor %}

		</div>
	</section>
{% endif %}
{% include 'components.home.tw' with {alt:"fff"} %}

 <script>
	$(".middle-slider .slides").slick({
  dots: false,
  arrows: false,
  loop: true,
  autoplaySpeed: 3000,
  slidesToShow: '{{component.features_lnks|length}}'-1,
  slidesToScroll: 1,
  autoplay:true,


});
</script>
